<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Transporto</title>
</head>
<body>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/users">Usuarios</a> |
        <a href="/cooperatives">Cooperativas</a> |
        <a href="/routes">Rutas</a> |
        <a href="/recharges">Recargas</a> |
        <a href="/conductores">Conductores</a> |
        <a href="/informe">Informes</a>

    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
