<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TRANSPORTO - Iniciar sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body class="login-page">

<div class="container login-container">
    <div class="logo">
        <img src="https://cdn-icons-png.flaticon.com/512/61/61205.png" alt="logo">
        <div>
            <h1>TRANSPORTO</h1>
            <p>La forma inteligente de moverse</p>
        </div>
    </div>

    <h2>Iniciar sesión</h2>

    <form method="post" action="{{ url_for('login') }}">
        <input type="email" name="email" placeholder="Correo Electrónico" required>
        <input type="password" name="contraseña" placeholder="Contraseña" required>
        <button type="submit">Iniciar sesión</button>
    </form>

    <div class="extra-links">
        <p>¿No tienes cuenta? <a href="{{ url_for('registro') }}">Regístrate aquí</a></p>
    </div>
</div>

</body>
</html>
